<% @recipes.each do |recipe| %>
  <div>
    <a href=" recipes/<%=recipe.id %>">
      <h4> <%= recipe.name %></h4>
      <%= button_to "Remove", recipe, method: :delete, class: 'remove-recipe-link' %>
      <p><%= recipe.description %></p>
    </a>
  </div>
<% end %>