
<section class="column home">
  <div class="bg-plate"></div>
  <div class="column home home-wrapper">
    <div class="heading-text">
      <h1>Food On Rails</h1>
      <p class="spaced-text">Faster   than   Ruby On Rails</p>
      <p class="text-description">Our community of +20 users that share a passion for fast and healthy can guide you during your journey of discovering more than +100 public recipes around the world.</p>
      
      <div class="row">
        <%= link_to "Join Us Now!", new_user_registration_path, class: "btn-bg-transparent" %>
        <%= link_to "Log in", new_user_session_path, class: "btn-bg-transparent" %>
      </div>
    </div>
  </div>
</section>

<section class="flex-center column public-recipes">
  <h2>Public Recipes</h2>
  <ul class="max-width flex-center column">
    <% @public_recipes.each do |recipe| %>
      <li class="row">
        <%= render partial:"public_recipes/public_recipe", locals: {recipe: recipe} %>
      </li>
    <% end %>
  </ul>
</section>

<footer class="max-width row footer">
  <h6>All right reserved</h6>
  <h6>Prantosh & Allassane</h6>
</footer>