<section class="not-found">

<div class="right">

  <h1> <span id="heading-red">403</span> Not Allowed!</h1>
  <h2>Permission denied!</h2>
  <p>Our community of +20 users that share a passion for fast and healthy can guide you during your journey of discovering more than +100 public recipes around the world.</p>
  <a href="/">
   <button class="btn-bg-transparent">Back to HOME</button>
  </a>
</div>

</section>