
<%= render partial: "shared/heading_text" %>

<%= button_to "New food", new_food_path, method: :get, class:"btn-bg-red-big" %>

<p style="color: green"><%= notice %></p>

<table class="table">
  <tr>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Actions</th>
  </tr>
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
</table>

